
<div class="big-buttons" id="top">
    <div class="flip flip-vertical big-buttons-1">
        <div class="front">
            <h1 class="text-shadow">Навчання</h1>
        </div>
        <div class="back">
            <a href="/">Головна</a><br>
            <a href="{{ path('journal_group') }}">Журнал</a><br>
            <a href="#">Оплата за навчання</a><br>
            <a href="#">Методичні матеріали</a>
        </div>
    </div>
    <div class="flip flip-vertical big-buttons-2">
        <div class="front">
            <h1 class="text-shadow">Вступникам</h1>
        </div>
        <div class="back">
            <a href="#">Навчання</a><br>
            <a href="#">Спеціальності</a><br>
            <a href="#">Оплата за навчання</a><br>
            <a href="#">Методичні матеріали</a>
        </div>
    </div>
    <div class="flip flip-vertical big-buttons-3">
        <div class="front">
            <h1 class="text-shadow">Викладачам</h1>
        </div>
        <div class="back">
            <a href="#">Навчання</a><br>
            <a href="#">Спеціальності</a><br>
            <a href="#">Оплата за навчання</a><br>
            <a href="#">Методичні матеріали</a>
        </div>
    </div>
    <div class="flip flip-vertical big-buttons-4">
        <div class="front">
            <h1 class="text-shadow">Студентам</h1>
        </div>
        <div class="back">
            <a href="#">Навчання</a><br>
            <a href="#">Спеціальності</a><br>
            <a href="#">Оплата за навчання</a><br>
            <a href="#">Методичні матеріали</a>
        </div>
    </div>
</div>
