
<div class="big-buttons" id="top">

    {% for button in buttons() %}
    <div class="flip flip-vertical big-buttons-1">
        <div class="front">
            <h1 class="text-shadow">{{ button.title }}</h1>
        </div>
        <div class="back">
            {% for page in button.pages %}
            <a href="/page/{{ page.alisEn }}">{{ page.title }}</a><br>
            {% endfor %}

        </div>
    </div>
    {% endfor %}

</div>
