

@media screen and (max-width: 1220px)
{
    .navigation-menu-li-5{
        display: none;
    }
    .navigation-menu-li-1 a {
        padding: 1em 1em;
        font-size: 16px;
    }
}

@media screen and (max-width: 1200px)
{
    main{
        padding: auto 10px ;
    }
    .big-buttons-1{
        display: none !important;

    }

}

@media screen and (max-width: 1080px)
{
    .navigation-menu-li-4{
        display: none;
    }


}
@media screen and (max-width: 1000px)
{
    /*.navigation-menu-li-1{*/
    /*    display: none;*/
    /*}*/


}



@media screen and (max-width: 960px)
{
    .article-container{
        width: 100% !important;
    }


}
@media screen and (max-width: 880px)
{
    .navigation-menu-li-3{
        display: none;
    }


}
/*@media screen and (max-width: 829px)*/
/*{*/
/*    .article-container{*/
/*        width: 100%;*/
/*    }*/

/*}*/

@media screen and (max-width: 750px){
    .paginate-simple{
        display: block;
    }
    .paginate-full{
        display: none;
    }
}

@media screen and (max-width: 590px) {
    main {
        flex-wrap: wrap;
        padding: auto 0px;
    }

    .side-bar {
       display: none;
    }

    .side-bar-container {
        width: 100%;
    }

    .articles-content {
        padding-right: 0px;
    }

    .article-container {
        margin-right: 0px;
        margin-left: 0px;
    }

    .big-buttons-2{
        display: none !important;
    }
}
