{% if page > 0 %}
  <div data-page="{{ page - 1 }}" class="button button-prev-page click"> < </div>

{% else %}

  <div class="button" style="visibility: hidden"> 0 </div>

{% endif %}


{% if page < totalPage %}

  <div data-page="{{ page + 1 }}" class="button button-prev-page click"> > </div>

{% elseif page == totalPage and (is_granted('ROLE_ADMIN') or is_granted('ROLE_TEACHER')) %}

  <div class="button button-create-page"> Додати сторінку</div>

{% endif %}