{% extends  ajax ? 'ajax.html.twig' : 'base.html.twig' %}

{% block title %}Коледж транспорту та комп'ютерних технологій ЧНТУ (КТКТ){% endblock %}

{% block body %}
    <div class="preLoader" id="preloader-article-paginate"></div>
<div class="articles" id="ajax-articles-canvas">

    {{ include('article/articles.html.twig')}}
</div>
<script>
    $( document ).ready(function() {

        paginateArticle({{ articles.currentPageNumber}}, '{{ asset("images/preloader/preloader.gif") }}')

    });
</script>
{% endblock %}
