
<div id="comments-block">
{% for comment in comments %}
<div name='comment' class='block-comment' >
    <div class='block-comment-container-head'>
        <div class='block-comment-container-img'></div>
        <div class='article-comment-container-data'>
            <div class='block-comment-container-nameAuthor'>{{ comment.getUser.getUsername }}</div>
            <div class='block-comment-container-date'>05-04-2019</div>
            <div class='block-comment-container-status'>Студент</div>
        </div>
        {% if app.User %}
            {% if app.User.getId == comment.getUser.getId %}
            <div class='block-comment-container-action' data-id='{{ comment.id }}'>
                <div class='block-comment-button-edit' >✎</div>
                <div class='block-comment-button-remove'>✘</div>
            </div>
            {% endif %}
        {% endif %}
    </div>

    <div class='block-comment-container-body'>
        <div class='block-comment-container-content'>{{ comment.text }}</div>
    </div>

</div>
{% endfor %}

    {% if comments|length  != 0 %}
        <div class="navigation">
            {{ knp_pagination_render(comments) }}
        </div>
    {% endif %}
</div>
