
<div class="side-bar">

        {% for item in advertisement %}
            <div class="side-bar-container">
                <div class="side-bar-container-caption">
                    {{ item.title|raw }}
                </div>
                <hr>
                <div class="side-bar-container-text">
                    {{ item.description }}
                </div>
            </div>
        {% endfor %}

</div>
