

<tr>
    <td> <input value='{{ sp.name }}' type='text' class='input-name-specialty' placeholder='ПП' required='required'/></td>
    <td data-id-specialty='{{ sp.id }}'> <div class='button button-update-specialty'>✔</div><div class='button button-delete-specialty'>✘</div><td/>
<tr><td colspan='2'><br><hr style='border:1px solid #999'><br></td></tr></tr>